body{
    font-family: "poppins", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto; 
    height: 72px;
    background-color: rgb(124, 122, 122);
    justify-items: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none ;
    gap: 24px;
    align-items: center;
}
nav button{

    all: unset;
    height: 32px;
    font-weight: 500;
    padding: 0 20px;
    color: black;
    background-color: #D01C28;
    align-items: center;
    size: 1280px;
}


.main {
    font: bold;
    place-items: center;
    justify-content: ce;
}
